.timers {
  width: 180px;
  margin: 0 auto;
  text-align: center;
}

.focus {
  display: inline;
}

#display {
  margin-bottom: 20px;
}
#display span {
  font-size: 36px;
}
#buttons button:nth-child(2) {
  margin-left: 8px;
}

#start {
  margin-bottom: 30px;
}

button {
  font-size: 16px;
  background-color: rgb(217, 60, 35);
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(173, 47, 28);
}
button:active {
  background-color: rgb(130, 35, 21);
}
button:focus {
  outline: 0;
}

h1 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: monospace;
}

input {
  margin: 30px 0;
}